main {
    display: grid;
    grid-template-areas: "projectName projectName projectImage "
                         "description description projectImage "
                         "messageBoard messageBoard links"
                         "messageBoard messageBoard members";
    grid-template-columns: auto auto 300px;
    margin-top: 20px;
}

.projectImage {
    grid-area: projectImage;
    max-height: 300px;
}

.projectName {
    grid-area: projectName;
}

.description {
    grid-area: description;
}

.messageBoard {
    grid-area: messageBoard;
    margin-top: 20px;
    margin-right: 10px;
}

.links {
    grid-area: links;
    margin-top: 20px;
    margin-left: 10px;
}

.members {
    grid-area: members;
    margin-left: 10px;
}