<main class="editProfilePageContainer text-break container">
    <ng-container *ngIf="userDetails">
      <div class="profileDivContainer">
        <img class="m-2" id="profilePicture"
          src="https://www.pngarts.com/files/10/Default-Profile-Picture-PNG-High-Quality-Image.png" alt="">
  
        <h1 class="m-2" id="usernameTitle" *ngIf="userDetails.userName">{{userDetails.userName}}</h1>
  
        <!--<p *ngIf="userProfile?.id">{{userProfile?.id}}</p>-->
        <input type="text" class="m-2" id="profileDescription" *ngIf="userDetails?.description" value="{{userDetails?.description}}">>
  
      </div>
      <div class="rightUpperContainer d-flex justify-content-end align-items-start">
        <div class="btn-group m-2" role="group" aria-label="Basic radio toggle button group">
          <input type="radio" class="btn-check " name="btnradio" id="btnradio1" autocomplete="off" checked>
          <label class="btn btn-outline-success" for="btnradio1">Regular</label>
  
          <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
          <label class="btn btn-outline-danger" for="btnradio2">Hidden</label>
        </div>
      </div>
  
      <div class="projectContainer">
        <app-project-item class="projectListItem" *ngFor="let project of projects" [project]="project">
        </app-project-item>
      </div>
      <div class="portfolioContainer">
        <app-portfolio-list-item class="portfolioListItem" *ngFor="let portfolio of userDetails?.portfolios"
          [portfolio]="portfolio">
        </app-portfolio-list-item>
      </div>
  
      <div class="hiddenExplanationContainer"></div>
  
      <div class="rightLowerContainer">
        <!--<ng-container *ngIf="user.skills">-->
        <ul class="skillList list-group list-group-flush">
          <li class="list-group-item" *ngFor="let skill of userDetails?.skills; let i = index">{{i + 1}} {{skill}}</li>
        </ul>
  
        <!--</ng-container>-->
  
      </div>
    </ng-container>
  </main>
