
<main class="editProfilePageContainer text-break container mt-4">
    <ng-container *ngIf="userDetails">
      <div class="profileDivContainer white p-4">
        <img class="me-4" id="profilePicture"
          [src]="image" alt="">
  
        <h1 id="usernameTitle" *ngIf="userDetails.userName">{{userDetails.userName}}</h1>
  
        <!--<p *ngIf="userProfile?.id">{{userProfile?.id}}</p>-->
        <textarea class="form-control" rows="3" name="first" [(ngModel)]="userDetails.description"></textarea>
  
      </div>
      <div class="rightUpperContainer d-flex justify-content-evenly align-items-center flex-column white">
        <button class="btn btn-primary" (click)="saveProfile()">Save Profile</button>

        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
          <input type="radio" class="btn-check " name="btnradio" id="btnradio1" autocomplete="off" checked>
          <label class="btn btn-outline-success" for="btnradio1">Regular</label>
  
          <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
          <label class="btn btn-outline-danger" for="btnradio2">Hidden</label>
        </div>
      </div>
  
      <div class="projectContainer white">
        <app-project-item class="projectListItem" *ngFor="let project of projects" [project]="project">
        </app-project-item>
      </div>
      <div class="portfolioContainer white">
        <app-portfolio-list-item class="portfolioListItem" *ngFor="let portfolio of userDetails?.portfolios"
          [portfolio]="portfolio">
        </app-portfolio-list-item>
      </div>
  
      <div class="rightLowerContainer white">
        <!--<ng-container *ngIf="user.skills">-->
        <ul class="skillList list-group list-group-flush">
          <li class="list-group-item" *ngFor="let skill of userDetails?.skills; let i = index">{{i + 1}} {{skill}}</li>
        </ul>
  
        <!--</ng-container>-->
  
      </div>
    </ng-container>
  </main>

