<main class="profilePageContainer text-break container">
  <ng-container *ngIf="userProfile">
    <div class="profileDivContainer">
      <img class="m-2" id="profilePicture"
        src="https://www.pngarts.com/files/10/Default-Profile-Picture-PNG-High-Quality-Image.png" alt="">

      <h1 class="m-2" id="usernameTitle" *ngIf="userProfile.username">{{userProfile.username}}</h1>
      <div class="userNames m-1">
        <h4 class="m-1" id="userFirstName" *ngIf="userProfile.firstName">{{userProfile.firstName}}</h4>
        <h4 class="m-1" id="userLastName" *ngIf="userProfile.lastName">{{userProfile.lastName}}</h4>
      </div>
      <p *ngIf="userProfile?.id">{{userProfile?.id}}</p>
      <p class="m-2" id="profileDescription" *ngIf="userDetails?.description">{{userDetails?.description}}</p>

    </div>
    <div class="rightUpperContainer d-flex justify-content-end align-items-start">
      <div class="btn-group m-2" role="group" aria-label="Basic radio toggle button group">
        <input type="radio" class="btn-check " name="btnradio" id="btnradio1" autocomplete="off" checked>
        <label class="btn btn-outline-success" for="btnradio1">Regular</label>

        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
        <label class="btn btn-outline-danger" for="btnradio2">Hidden</label>
      </div>
    </div>


    <!--<ng-container *ngIf="userProfile">
      <h2>User information</h2>
      <table>
        <tr *ngIf="userProfile.username">
          <th scope="row">Username</th>
          <td>{{ userProfile.username }}</td>
        </tr>
        <tr *ngIf="userProfile.firstName">
          <th scope="row">First name</th>
          <td>{{ userProfile.firstName }}</td>
        </tr>
        <tr *ngIf="userProfile.lastName">
          <th scope="row">First name</th>
          <td>{{ userProfile.lastName }}</td>
        </tr>
        <tr *ngIf="userProfile.email">
          <th scope="row">E-mail</th>
          <td>{{ userProfile.email }}</td>
        </tr>
        <tr>
          <th scope="row">E-mail verified</th>
          <td>{{ userProfile.emailVerified ? 'Yes' : 'No' }}</td>
        </tr>
        <tr>
          <th scope="row">Token</th>
          <td>{{ token }}</td>
        </tr>
      </table>
    </ng-container>-->

    <div class="projectContainer">
      <app-project-item class="projectListItem" *ngFor="let project of projects" [project]="project">
      </app-project-item>
    </div>
    <div class="portfolioContainer">
      <app-portfolio-list-item class="portfolioListItem" >

      </app-portfolio-list-item>
    </div>

    <div class="rightLowerContainer">
      <!--<ng-container *ngIf="user.skills">-->
      <ul class="skillList list-group list-group-flush">
        <li class="list-group-item" *ngFor="let skill of userDetails?.skills; let i = index">{{i + 1}} {{skill}}</li>
      </ul>

      <!--</ng-container>-->

    </div>
  </ng-container>
</main>