main {
    display: grid;
    grid-template-areas: "projectImage projectName projectName"
                         "projectImage description description"
                         "messageBoard messageBoard links"
                         "messageBoard messageBoard members";
}

.projectImage {
    grid-area: projectImage;
    max-width: 200px;
}

.projectName {
    grid-area: projectName;
}

.description {
    grid-area: description;
}

.messageBoard {
    grid-area: messageBoard;
}

.links {
    grid-area: links;
}

.members {
    grid-area: members;
}