<nav class="navbar navbar-light navbar-expand-lg white border rounded">
    <div class="container-fluid barContainer">
        <input class="form-control me-2" type="search" placeholder="Search Projects" aria-label="Search" [(ngModel)]="searchWord" (input)="searchChange(searchWord)">
        <select class="form-select fieldForm" (change)="onFieldChange($event)">
            <option value="" disabled selected>Select a field</option>
            <option value="all">View All</option>
            <option [value]="field.id" *ngFor="let field of fields">{{field.name}}</option>
        </select>
    </div>
</nav>