<div class="white p-4" *ngIf="project">
    <h3 class="">Messages for {{project.projectName}}</h3>
    <ng-container *ngIf="messages; else noMessages">
        <ng-container *ngIf="messages.length > 0; else noMessages">
            <app-message-item *ngFor="let message of messages" [message]="message"></app-message-item>
        </ng-container>
    </ng-container>
    <ng-template #noMessages>
        <p class="mt-4">There are no messages</p>
    </ng-template>
    <div *ngIf="isLoggedIn" class="d-flex flex-column align-items-center mt-4" >
        <textarea class="form-control" rows="3" name="first" [(ngModel)]="submittedMessage"></textarea>
        <button class="btn btn-primary mt-4" (click)="submitMessage()">Post Message</button>
    </div>
</div>