<div class="container">
    <form class="mt-3" (ngSubmit)="onSubmit($event)">
        <div class="form-group row">
            <label for="inputProjectName" class="col-sm-2 col-form-label">Project Name</label>
            <div class="col-sm-10">
                <input type="text" class="col-sm-4 col-form-control" id="inputProjectName" placeholder="Project Name" required>
            </div>
        </div>
        <div class="form-group row mt-3">
            <label for="inputProjectUrl" class="col-sm-2 col-form-label">Project Url</label>
            <div class="col-sm-10">
                <input type="text" class="col-sm-4 col-form-control" id="inputProjectUrl" placeholder="Project Url">
                <small id="projectUrlHelpInline" class="text-muted">
                    ex. link to github repo
                  </small>
            </div>
        </div>
        <div class="form-group row mt-5">
            <label for="textareaProjectDescription" class="col-sm-2 col-form-label">Project Description</label>
            <div class="col-sm-10">
                <textarea id="textareaProjectDescription" class="col-sm-6 col-form-control" rows="5"></textarea>
            </div>
        </div>
        <button type="submit" class="btn btn-primary btn-block d-flex justify-content-center mt-4">Create Project</button>
    </form>
</div>
