<div class="accordion-item" *ngIf="project">
    <h2 class="accordion-header">
        <div class="accordionContainer">
            <div>
                <a class="text-decoration-none text-dark px-3 projectLink" (click)="gotoProject(project.id)">{{project.name}}</a>
                <span class="ms-1 badge bg-primary"
                    *ngFor="let field of project.fields">{{field.name}}</span>
            </div>
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                [attr.data-bs-target]="'#' + 'banner'  + project.id">
                <span class="me-2">Read more</span>
                
            </button>
        </div>
    </h2>
    <div class="accordion-collapse collapse" [id]="'banner' + project.id">
        <div class="accordion-body">
            <ul>
                <li *ngFor="let keyword of project.keywords">
                    {{keyword.name}}
                </li>
            </ul>
        </div>
    </div>
</div>