main {
    min-height: 100%;
    display: grid;
    grid-template-areas: 
                    "leftSideBar filterBar rightSideBar"
                    "leftSideBar projectFeed rightSideBar";
    grid-template-columns: auto 1fr 200px;
    grid-template-rows: auto 1fr;
    box-sizing: border-box;
}

#leftSide {
    background-color: white;
    grid-area: leftSideBar;
    margin-right: 20px;
}

#rightSide {
    background-color: white;
    grid-area: rightSideBar;
}

#filterBarContainer{
    grid-area: filterBar;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#projectFeed {
    background-color: white;
    grid-area: projectFeed;
    margin-right: 20px;
    margin-bottom: 20px;
}

@media screen and (max-width: 1000px) {

    main {
        grid-template-areas: 
                    "filterBar"
                    "projectFeed";
        grid-template-columns: 100%;
        grid-template-rows: auto auto;
    }

    
}