/* You can add global styles to this file, and also import other style files */

:root {
    --footer-height: 50px;
    --left-bar-width: 230px;
    --right-bar-width: 230px;
    --blue: #4056A1;
    --yellow: #D79922;
    --red: #F13C20;
    --green: #245b32;
    --maroon: #7c2f1e;
    --yellowGreen: #7a6f04;
    /* --bs-body-font-family: 'M PLUS Rounded 1c', sans-serif; */
    --bs-primary-rgb: 64,86,161;
    --bs-primary: #4056A1;
}

.white {
    background-color: white;
}

.btn-primary {
    background-color: #4056A1;
}

body, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

app-root {
    display: block;
    min-height: 100vh;
}

ol, ul {
	list-style: none;
}
