<div class="projectItem accordion-item" *ngIf="portfolio">
    <h2 class="accordion-header">
        <div class="accordionContainer">

            <div class="px-3 portfolioTitle">{{portfolio.title}}</div>

            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                [attr.data-bs-target]="'#' + 'portfolio'  + portfolio.portfolioId">
                <span class="me-2">Read more</span>
                
            </button>
        </div>
    </h2>
    <div class="accordion-collapse collapse" [id]=" 'portfolio'  + portfolio.portfolioId">
        <div class="accordion-body">
            <ul>
                <li>
                    Description: {{portfolio.description}}
                </li>
                <li >
                    From: {{portfolio.timeSpanStart}}
                </li>
                <li >
                    To: {{portfolio.timeSpanEnd}}
                </li>
                <li>
                    Link: <a href="portfolio.urlReference">{{portfolio.urlReference}}</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--NOT DONE, ALTER MORE AND GET IN RIGHT DATA-->